In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import json

* map the sensor names to sensor1 ... sensor'n', save the map in

In [4]:
normal_data = pd.read_csv("../data/WADI/WADI_normaldata.csv")

In [5]:
normal_data.head()

,Row,Date,Time,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\1_AIT_001_PV,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\1_AIT_002_PV,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\1_AIT_003_PV,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\1_AIT_004_PV,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\1_AIT_005_PV,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\1_FIT_001_PV,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\1_LS_001_AL,...,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\3_MV_001_STATUS,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\3_MV_002_STATUS,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\3_MV_003_STATUS,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\3_P_001_STATUS,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\3_P_002_STATUS,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\3_P_003_STATUS,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\3_P_004_STATUS,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\LEAK_DIFF_PRESSURE,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\PLANT_START_STOP_LOG,\\WIN-25J4RO10SBF\LOG_DATA\SUTD_WADI\LOG_DATA\TOTAL_CONS_REQUIRED_FLOW
0,1,9/25/2017,6:00:00.000 PM,171.155,0.619473,11.5759,504.645,0.318319,0.001157,0,...,1,1,1,1,1,1,1,67.9651,1,0.68
1,2,9/25/2017,6:00:01.000 PM,171.155,0.619473,11.5759,504.645,0.318319,0.001157,0,...,1,1,1,1,1,1,1,67.9651,1,0.68
2,3,9/25/2017,6:00:02.000 PM,171.155,0.619473,11.5759,504.645,0.318319,0.001157,0,...,1,1,1,1,1,1,1,67.9651,1,0.68
3,4,9/25/2017,6:00:03.000 PM,171.155,0.607477,11.5725,504.673,0.318438,0.001207,0,...,1,1,1,1,1,1,1,67.1948,1,0.68
4,5,9/25/2017,6:00:04.000 PM,171.155,0.607477,11.5725,504.673,0.318438,0.001207,0,...,1,1,1,1,1,1,1,67.1948,1,0.68

In [6]:
# sensor names are too long, map them to shorter marker

columns = normal_data.columns
#print(columns)

#remove "Row, Date, Time"
sensors = columns[3:]
sensor_map = {}
for i in range(len(sensors)):
    sensor_map[sensors[i]] = "sensor"+str(i)

In [7]:
normal_data_renamed = normal_data.rename(columns=sensor_map)

In [47]:
sensor1_data = normal_data_renamed["sensor0"]

In [57]:
len(sensor1_data)

1209601

In [49]:
14*24*3600

1209600

In [27]:
# The data is collected every second
import json

In [61]:
sensor_map = {}
s2 = None
with open("../data/WADI/sensor_map.txt", "r") as f:
    s=f.read()
    s2 = s.replace("'",'"')
    sensor_map = json.loads(s2)

In [9]:
import os

In [10]:
os.listdir("../data/WADI")

['attack_description.xlsx',
 'labelling.py',
 'sensor_map.txt',
 'WADI_14days.csv',
 'WADI_attackdata.csv',
 'WADI_attackdata_labelled.csv',
 'WADI_normaldata.csv']

In [11]:
anomaly_data = pd.read_csv("../data/WADI/WADI_attackdata_labelled.csv")

In [62]:
anomaly_data_renamed = anomaly_data.rename(columns = sensor_map)

In [63]:
anomaly_data_renamed.head()

,Unnamed: 0,Row,Date,Time,sensor0,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor118,sensor119,sensor120,sensor121,sensor122,sensor123,sensor124,sensor125,sensor126,attack
0,0,1,10/9/2017,00:00.0,164.21,0.529486,11.9972,482.48,0.331167,0.001273,...,1,1,1,1,1,1,62.6226,1,0.39,0
1,1,2,10/9/2017,00:01.0,164.21,0.529486,11.9972,482.48,0.331167,0.001273,...,1,1,1,1,1,1,62.6226,1,0.39,0
2,2,3,10/9/2017,00:02.0,164.21,0.529486,11.9972,482.48,0.331167,0.001273,...,1,1,1,1,1,1,62.6226,1,0.39,0
3,3,4,10/9/2017,00:03.0,164.21,0.529486,11.9972,482.48,0.331167,0.001273,...,1,1,1,1,1,1,62.6226,1,0.39,0
4,4,5,10/9/2017,00:04.0,164.21,0.529486,11.9972,482.48,0.331167,0.001273,...,1,1,1,1,1,1,62.6226,1,0.39,0

In [58]:
col = anomaly_data.columns

In [60]:
col[-2]

'\\\\WIN-25J4RO10SBF\\LOG_DATA\\SUTD_WADI\\LOG_DATA\\TOTAL_CONS_REQUIRED_FLOW'

In [23]:
sensor_map

{}

In [26]:
dict(s)

ValueError: dictionary update sequence element #0 has length 1; 2 is required